@media (max-width: 1100px) {
  .main .section1 {
    flex-direction: column;
  }
  .main .section1 section,
  .main .section1 img,
  .main .section3 section,
  .main .section3 iframe {
    width: 80%;
  }
  .main .section3 {
    flex-direction: column;
  }
}
/*질문*/
/* 브라우저 사이즈의 크기를 줄였을 때, 가로 스크롤바가 생기는 것을 확인 */
/* 가로 스크롤바를 눌러 오른쪽으로 움직이며 문제의 원인을 확인하려 함 */
/* 하지만 그 순간 가로 스크롤바가 사라짐 */
/* 해당 문제 해결방법을 모르겠음 */
/* overflow:hidden? */
