.main .section4 {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*질문*/
  /* section2를 제외하고 section1부터 계속 반복되는 부분 */
  /* section2를 제외하고 추가 class를 주는 것 VS 현재와 같이 class를 늘리지 않고 반복되는 코드를 작성하는 것 */
  max-width: 1440px;
  margin: 0 auto;
  padding: 104px 104px 104px;
}
.main .section4 span {
  font-size: var(--font-h2);
}
.main .section4 span:nth-of-type(2) {
  font-weight: var(--font-bold);
}
.main .section4 h2 {
  position: relative;

  /* 질문 */
  /* h2내에 여러 요소를 넣고 flex의 속성을 부여해도 괜찮은지 고민된다. */
  display: flex;
  flex-direction: column;
}
.main .section4 div {
  display: flex;
  gap: 22px;
}
.main .section4 div i {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-primary-bg);
  border-radius: 50%;
}
.main .section4 div i:nth-of-type(1) {
  color: var(--color-primary-bg);
  transform: scaleX(-1);
}
.main .section4 div i:nth-of-type(2) {
  background-color: var(--color-primary-bg);
  color: var(--color-white);
}
.main .section4 h2::before {
  position: absolute;
  content: "";
  background: linear-gradient(to left bottom, #f76680, #57007b);
  width: 72px;
  height: 5px;
  top: -30px;
}
.main .section4::before {
  position: absolute;
  content: "";
  background: linear-gradient(to left bottom, #f76680, #57007b);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  bottom: -36px;
  left: 900px;
}

/*slider*/
.main .section4-banner {
  background-color: var(--color-light-bg);
}
/* slider */
/* 스크롤링하면 우측 카드가 사라지는 현상 발생 */
.swiper {
  width: 100%; /*지정을 해야 slider의 크기 확보 가능*/
  height: 100%;
  padding-bottom: 50px;
  overflow: hidden;
}
.bannerFlow .swiper-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 20%;

  padding: 10px;
  background-color: var(--color-gray-50);
  /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */
}
.bannerFlow .swiper-slide img {
  /* width: 34px;
  height: 34px; */
  padding: 6px;
}

.bannerFlow .swiper-slide .swiper-slide-active {
  background: red;
}
/* pagination */
.swiper-pagination {
  position: absolute;
  bottom: 100px; /* 원하는 위치로 조정 */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* width: 100%; */
}
