.service_sec {
  background-color: #f9f9ff;
  padding: 46px 0 116px 0;
  height: 602px;
}
.service_sec .circle:first-of-type {
  position: absolute;
  top: -78px;
  z-index: -1;
  left: 30%;
}
.service_sec .circle:nth-of-type(2) {
  position: absolute;
  left: 10px;
  bottom: -176px;
  z-index: -1;
  left: 15%;
}
.service_sec > .inner_wrap {
  width: 100vw;
  margin: 0 auto;
  position: absolute;
  right: 0;
}
.service_sec h2 {
  font-size: 35px;
  line-height: 55px;
  margin-bottom: 73px;
  text-align: center;
  font-weight: 700;
}
.swiper-pagination.service {
  top: calc(100% + 41px) !important;
}
.swiper.serviceSwiper {
  width: 100%;
}

.swiper-slide.service-card > .inner_wrap > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  /* border gradient ì ìš© */
  border-radius: 50%;
}
.swiper-slide.service-card .inner_wrap > h3 {
  margin-top: 15px;
  font-size: 20px;
}
.swiper-slide.service-card .inner_wrap > p {
  margin-top: 20px;
  font-size: 14px;
  color: var(--gray-7);
}
.swiper-slide {
  transition: transform 0.3s;
}
.swiper-slide.swiper-slide-active.service-card {
  transform: translate(0, 40px);
  background-image: linear-gradient(#fff, #fff), var(--p-grad);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.swiper-pagination-bullet {
  position: relative;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: transparent;
  border: 1px solid var(--gray-4);
  top: 35px;
  bottom: auto;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: var(--p-grad);
}

@media screen and (max-width: 800px) {
  .swiper-slide.service-card > .inner_wrap {
    padding: 40px;
  }
}
