.flexbox {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  width: 200px;
  gap: 1px;
  padding: 1px;
  height: 500px;
  justify-content: space-between;
  /* align-items: center; */
  align-content: space-between;
}
.flex-item {
  width: 50px;
  height: 50px;
  color: white;
  background-color: teal;
}
