.con {
  border: 1px solid red;
  width: 300px;
  height: 300px;
  margin: 50px;
  perspective: 300px;
}
.item {
  border: 10px solid lightgray;
  height: 100%;
  background-color: antiquewhite;
  /* transform-style: preserve-3d; */
  transform: rotateX(45deg);
}
.item > p {
  border: 5px solid blue;
  height: 100%;
  transform: rotateY(50deg);
}
